#mainheader{
	width: 100%;
	height: 60px;
	background-color: orange;
	position: relative;
	border-radius: 35px;
	margin-top: 0px;
	opacity: 0.8;
}
#welcometext{
	font-weight: bold;
	font-size: 40px;
	padding-top: 10px;
	text-align: center;
	color: white;
	text-decoration: overline;
	font-family: arial;
	}